mixin prameny(sources)
  .row.sources(class={'sources--grid': sources.length > 4})
    each source, index in sources
      //- <!-- PARAMETR: pramen-#{(1+index)} -->
      .item.source
        .source-container
          //- fulscreen toggle
          +fullscreenToggle()

          //- chceme mít lupu k dispozici automaticky u všech obrázků?
          if cv.cviceni.funkce.indexOf("lupa") > -1
            img.source-image(id="img-" + (1 + index) data-lupa-target="" src="../assets/img/" + source alt=source)
          else
            img.source-image(id="img-" + (1 + index) src="../assets/img/" + source alt=source)

mixin popiskyPramenu(captions)
  .row.captions
    each caption, index in captions
      //- <!-- PARAMETR: popisek-pramenu-#{(1+index)} -->
      .item.caption
        p !{typeset(caption)}
