mixin novaTabulka(data)
  //- const hasSubModule = data.reduce((accum, current) => (accum || current.galerie || current.pretahovani) ? true : false, false);
  .row.tables(
    class= data.galerie || data.pretahovani ? "with-submodule" : ""
  )

    if data.pretahovani
      //- .item--submodule
      +pretahovani(data.pretahovani)
      //- .item--module
      +novaTabulka-component(data.tabulky)

    else if data.galerie
      //- .item--submodule
      +gallery(data.galerie, data.layout)
      //- .item--module
      +novaTabulka-component(data.tabulky)

    else
      +novaTabulka-component(data.tabulky)

//-
mixin novaTabulka-component(tabulky, isSubmodule = false)
  each tabulka in tabulky
    -
      const duplicatedSource = tabulka.dataFrom ? tabulka.dataFrom.join(" ") : false;

      /** choose version of table
      * if columns or rows is undefined is important to set value to empty array because for loop
      */
      let hasColumnsHeader = false;
      let hasRowsHeader = false;
      let autofill = '';
      if (tabulka.columns === undefined || tabulka.columns.length === 0) {
        hasRowsHeader = true;
        autofill = 'columns';
        tabulka.columns = [];
      } else if (tabulka.rows === undefined || tabulka.rows.length === 0) {
        hasColumnsHeader = true;
        autofill = 'rows';
        tabulka.rows = [];
      } else {
        hasColumnsHeader = tabulka.columns.reduce((accum, current) => (accum || current.name !== "" && current.name !== undefined) ? true : false, false);
        hasRowsHeader = tabulka.rows.reduce((accum, current) => (accum || current.name !== "" && current.name !== undefined) ? true : false, false);
        autofill = 'cells';
      }

    .table-new__container(
        class={"table-new--has-columns": hasColumnsHeader}
        class={"table-new--has-rows": hasRowsHeader}
    )
      if isSubmodule
        h6 Výsledky předchozí práce

      //- autofill + data-from do tbody?
      //- class={"table-new--has-columns": hasColumnsHeader}
      //- class={"table-new--has-rows": hasRowsHeader}
      .table-new(
        data-autofill=autofill
        data-from=duplicatedSource
      )

        +novaTabulkaHeader({columns: tabulka.columns, hasColumnsHeader, autofill})

        .table-new__body(id=tabulka.id data-new-table="" data-save="html")
          each row, indexRow in tabulka.rows
            .table-new__row(class=`table-new__row--${row.type.type}`)
              .table-new__cell.table-new__cell--header.hidden(
                scope="row"
                data-row-id=row.id
                data-type=row.type
              ) #{row.name}

              each column, indexColumn in tabulka.columns
                +novaTabulkaColumn({row, column, indexRow, indexColumn, autofill})

mixin novaTabulkaColumn(data)
  -
    const colValues = data.column.values ? data.column.values : []
    const rowValues = data.row.values ? data.row.values : []

    if (colValues[data.indexRow] !== "" && colValues[data.indexColumn] !== "" && colValues[data.indexRow] !== undefined && colValues[data.indexColumn] !== undefined) {
      console.error('ERROR: novaTabulka have some value definated in column and row in same place', colValues[data.indexRow], rowValues[data.indexColumn])
    }

    const colType = data.column.type ? data.column.type : ""
    const rowType = data.row.type ? data.row.type : ""
    const itemType = rowType || colType
    const canDrop = colType.name === "drop" || rowType.name === "drop"
    const numOfDrops = canDrop && colType.name === "drop" ? colType.number : rowType.number;

    if (colType !== "" && rowType !== "" && colType !== rowType) {
      console.error('ERROR: novaTabulka have definated type of column and row in same place', colType, rowType)
    }

    const cellValue = (colValues[data.indexRow] !== "" && colValues[data.indexRow] !== undefined) ? colValues[data.indexRow] : rowValues[data.indexColumn];

  .table-new__cell(
    class=(data.autofill === 'cells' ? `table-new__cell--${itemType.name} table-new__cell--${itemType.type}` : '')
    data-column-id= data.column.id
    data-row-id= data.row.id
  ) !{cellValue || ' '}
    if data.row.name
      span.table-new__label !{data.row.name}
    if canDrop
      //- default value is -1, which means user can drop as many as user wants
      div(data-drop-place= numOfDrops || -1)

mixin novaTabulkaHeader(data)
  .table-new__head
    .table-new__row
      if data.autofill === "cells"
        .table-new__cell.table-new__cell--header.hidden(scope="column")

      each column, index in data.columns
        .table-new__cell.table-new__cell--header(
          class={'hidden': !data.hasColumnsHeader}
          scope="column"
          data-column-id= column.id
          data-type= column.type
        ) !{column.name || ' '}
